body {
  margin: 40px 0;
  max-width: 60ch;
  font-size: 18px;
  color: #333333;
  padding: 0 1em
}

a:link,
a:visited{
  color: #8f3f71;
}

a:hover {
  color: #b16286;
  text-decoration: none;
}

header {
  font-size: 36px;
  text-align: right;
  font-weight: bold;
  line-height:.7em
}

header a:link {
  text-decoration: none;
}

article {
  margin-bottom: 2em;
  line-height: 1.6;
}

article a:link,
article a:visited{
  text-decoration: underline;
}

article a:hover {
  text-decoration: none;
}

article h1 {
  font-size: 32px;
}

article h1,
article h2,
article h3 {
  line-height: 1.2em
}

article h3 {
  font-style: italic;
  color: #555;
}

article p,
article > ul,
article > ol {
    margin-bottom: 1.4em;
}

article pre {
  background: #fbf1c7;
  border-left: solid #a89984;
  margin-left: 0;
  padding: 1em 0 1em 2em;
  line-height: .9em;
  width: 80ch;
}

article code {
  font-size: 14px;
  background: #fbf1c7;
  padding: 0.25em;
}

article pre > code {
  padding: 0em;
}

article dt {
    font-weight: bold;
}

article dd {
    margin-bottom: 1.2em;
}

article img {
    max-width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin: auto;
}

article table {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
}

article thead th {
  border-bottom: 2px solid #a89984;
}

article tbody tr:nth-of-type(2n+1) {
  background-color: #fbf1c7;
}

article table td, article table th {
  vertical-align: top;
  border-top: 1px solid #a89984;
  padding: .75em;
}

article blockquote {
  border-left: solid #a89984;
  margin-left: 0;
  padding-left: 2em;
}

footer {
  text-align: center;
}
