header {
  font-size: 36px;
  text-align: right;
  font-weight: bold;
  line-height:.7em
}

header a:link {
  text-decoration: none;
}

article dt {
  font-weight: bold;
}

img {
  padding: 4px;
  border: 1px solid;
  border-radius: 4px;
  display: block;
  margin: auto;
}

li > ol {
  list-style: lower-alpha;
}

hr {
  margin: 0 12em 0 12em;
}
